<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <form [formGroup]="LoginForm"
        class="card-body"
         (ngSubmit)="Login()">


         <div class="row mb-4">
          <label for="email" class="col-form-label col-lg-2" >Email</label>
            <div class="col-lg-10">
            <input id="email"
            formControlName="email" type="text" class="form-control"
              placeholder="Enter Email..." >
              <div *ngIf="LoginForm.get('email')?.invalid && (LoginForm.get('email')?.dirty || LoginForm.get('email')?.touched)" class="alert alert-danger">
                <p *ngIf="LoginForm.get('email')?.errors?.['required']">Email is required.</p>
                <p *ngIf="LoginForm.get('email')?.errors?.['required']">Enter Unique Email</p>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <label for="password" class="col-form-label col-lg-2" >Password</label>
            <div class="col-lg-10">
            <input id="password"  pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}"
            formControlName="password" type="password" class="form-control"
              placeholder="Enter Password..." >
              <div *ngIf="LoginForm.get('password')?.invalid && (LoginForm.get('password')?.dirty || LoginForm.get('password')?.touched)" class="alert alert-danger">
                <p *ngIf="LoginForm.get('password')?.errors?.['required']">Password is required.</p>
                <p *ngIf="LoginForm.get('password')?.errors?.['pattern']">At least 8 characters in length =>capital and small letters and signs</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-end">
          <div class="col-lg-10" >
          <button class="btn btn-primary"
          style="margin:2% ; float: right;"
            [routerLink]="['/register']"
              type="button">Sign Up</button>
          </div>
        </div>

        <div class="row justify-content-end">
          <div class="col-lg-10" >
          <button class="btn btn-primary"
          [disabled]="LoginForm.invalid"
              type="submit">Login</button>
          </div>
        </div>

        </form>

      </div>
    </div>
  </div>
</div>
